In [3]:
%load_ext sql
%sql mysql+mysqlconnector://root:viswaa@localhost/test

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%%sql 

show tables;

 * mysql+mysqlconnector://root:***@localhost/test
2 rows affected.

[('demo',), ('test',)]

In [9]:
%%sql
select * from demo

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[(1,)]

In [10]:
%%sql 
create database sql_practice;

 * mysql+mysqlconnector://root:***@localhost/test
(mysql.connector.errors.DatabaseError) 1007 (HY000): Can't create database 'sql_practice'; database exists
[SQL: create database sql_practice;]
(Background on this error at: https://sqlalche.me/e/20/4xp6)

In [11]:
%%sql
use database sql_practice;

 * mysql+mysqlconnector://root:***@localhost/test
(mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'database sql_practice' at line 1
[SQL: use database sql_practice;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [6]:
%%sql 
show databases;

 * mysql+mysqlconnector://root:***@localhost/test
9 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('practice',),
 ('sakila',),
 ('sql_practice',),
 ('sys',),
 ('test',),
 ('world',)]

In [13]:
%%sql
use sql_practice;

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [20]:
%%sql
create table test (sno int , name varchar(100));

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [25]:
%%sql
SELECT * from test

 * mysql+mysqlconnector://root:***@localhost/test
2 rows affected.

[(4, 'kowsi'), (1, 'abi')]

In [24]:
%%sql 
insert into test (sno , name) values ( 1, 'abi');

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[]

In [26]:
%%sql
update test set name = 'Abi' where sno=1;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[]

In [31]:
%%sql
SELECT * from test

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [30]:
%%sql
delete from test where sno=4;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[]

In [4]:
%%sql
show database

 * mysql+mysqlconnector://root:***@localhost/test
(mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'database' at line 1
[SQL: show database]
(Background on this error at: https://sqlalche.me/e/20/f405)